@import "../../forms.scss";

:host {
  main {
    background-color: rgb(244, 244, 244);
    min-height: 100vh;
  }
  section {
    padding: 2rem 5vw;
    max-width: 600px;
    margin: 0 auto;
  }

  p {
    margin-bottom: 2rem;
  }

  .form-button {
    padding-inline: 32px;
    width: fit-content;
  }

  .wrapper {
    padding: 2rem;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .no-margin {
    margin-bottom: 0;
  }

  .mat-elevation-z8 {
    box-shadow: none;
    margin-bottom: 2rem;
  }

  table {
    width: 100%;
  }
}
