<main>
  <app-page-header></app-page-header>
  <section>
    <h1>Team Management</h1>
    <p class="max-w-600">
      Organize team structure by assigning managers to their respective team
      members. Use the search function to locate specific managers or employees,
      and click "Assign Manager" to set up new management relationships.
    </p>

    <!-- ASSIGN -->
    <div class="wrapper">
      <h2>Assign manager to employee</h2>
      <form [formGroup]="assignForm" (ngSubmit)="createManagement()">
        <mat-form-field appearance="outline">
          <mat-label>Manager username</mat-label>
          <input
            formControlName="managerUsername"
            matInput
            placeholder="e.g johndev"
          />
          @if (assignForm.controls['managerUsername'].hasError('required')) {
          <mat-error>Required</mat-error>} @if
          (assignForm.controls['managerUsername'].hasError('minlength')) {
          <mat-error>Minimum length is 2.</mat-error>}
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Employee username</mat-label>
          <input
            formControlName="employeeUsername"
            matInput
            placeholder="e.g johndev"
          />
          @if (assignForm.controls['employeeUsername'].hasError('required')) {
          <mat-error>Required</mat-error>} @if
          (assignForm.controls['employeeUsername'].hasError('minlength')) {
          <mat-error>Minimum length is 2.</mat-error>}
        </mat-form-field>
        <button
          class="form-button"
          color="primary"
          type="submit"
          mat-flat-button
        >
          Create management
        </button>
      </form>
    </div>
    <!-- END OF ASSIGN -->

    <!-- UPDATE -->
    <div class="wrapper">
      <h2>Update manager of an employee</h2>
      <form [formGroup]="updateForm" (ngSubmit)="updateManagement()">
        <mat-form-field appearance="outline">
          <mat-label>Manager username</mat-label>
          <input
            formControlName="managerUsername"
            matInput
            placeholder="e.g johndev"
          />
          @if (updateForm.controls['managerUsername'].hasError('required')) {
          <mat-error>Required</mat-error>} @if
          (updateForm.controls['managerUsername'].hasError('minlength')) {
          <mat-error>Minimum length is 2.</mat-error>}
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Employee username</mat-label>
          <input
            formControlName="employeeUsername"
            matInput
            placeholder="e.g johndev"
          />
          @if (updateForm.controls['employeeUsername'].hasError('required')) {
          <mat-error>Required</mat-error>} @if
          (updateForm.controls['employeeUsername'].hasError('minlength')) {
          <mat-error>Minimum length is 2.</mat-error>}
        </mat-form-field>
        <button
          class="form-button"
          color="primary"
          type="submit"
          mat-flat-button
        >
          Update
        </button>
      </form>
    </div>
    <!-- END OF UPDATE -->

    <!-- SEARCH -->

    <div class="wrapper">
      <h2>Search for management</h2>
      <form [formGroup]="searchForm" (ngSubmit)="searchForManagement()">
        <mat-form-field appearance="outline">
          <mat-label>Management id</mat-label>
          <input formControlName="managementId" matInput placeholder="e.g 12" />
          @if (searchForm.controls['managementId'].hasError('required')) {
          <mat-error>Required</mat-error>} @if
          (searchForm.controls['managementId'].hasError('pattern')) {
          <mat-error>Should contain only numbers</mat-error>}
        </mat-form-field>
        <button
          class="form-button"
          color="primary"
          type="submit"
          mat-flat-button
        >
          Search
        </button>
        @if (textToDisplayForSearchManagement) {
        <p class="no-margin" [innerHTML]="textToDisplayForSearchManagement"></p>
        }
      </form>
    </div>
    <!-- END OF SEARCH -->

    <!-- TABLE -->
    @if (!error) {
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Management id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="employeeUsername">
          <th mat-header-cell *matHeaderCellDef>Employee username</th>
          <td mat-cell *matCellDef="let element">
            {{ element.employee.username }}
          </td>
        </ng-container>

        <ng-container matColumnDef="managerUsername">
          <th mat-header-cell *matHeaderCellDef>Manager username</th>
          <td mat-cell *matCellDef="let element">
            {{ element.manager.username }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    }
    <!-- END OF TABLE -->
  </section>
</main>
