:host {
  main {
    background-color: rgb(244, 244, 244);
    min-height: 100vh;
  }

  section {
    padding: 2rem 5vw;
  }

  button {
    margin-bottom: 1rem;
  }

  .mat-elevation-z8 {
    box-shadow: none;
  }

  table {
    width: 100%;
  }

  i {
    cursor: pointer;
  }
}
