<header>
  <div (click)="navigateToDashboard()" class="left">
    <i class="material-icons">person</i>
    <h2>{{ user.firstname }}</h2>
  </div>
  <ul class="nav-links">
    <a (click)="navigateToUsers()">Users</a>
    <a (click)="navigateToAnnualLeave()">Annual leaves</a>
    @if (canSeeProjects()) {
    <a (click)="navigateToProjects()">Projects</a>
    } @if (canSeeManagement()) {
    <a (click)="navigateToManagement()">Management</a>
    }
  </ul>
  <button color="primary" mat-stroked-button extended (click)="logout()">
    Logout
    <mat-icon>logout</mat-icon>
  </button>
</header>
