@import "../../forms.scss";

:host {
  main {
    background-color: rgb(244, 244, 244);
    min-height: 100vh;
  }

  section {
    padding: 2rem 5vw;
  }

  button {
    margin-bottom: 1rem;
  }

  .mat-elevation-z8 {
    box-shadow: none;
  }

  table {
    width: 100%;
  }

  i {
    margin-right: 8px;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .wrapper {
    padding: 2rem;
    background-color: white;
    border-radius: 4px;
    margin: 2rem auto;
    max-width: 600px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
