<main>
  <app-page-header></app-page-header>
  @if (!error && role !== Role.Employee) {
  <section>
    <h1>Project Management</h1>
    @if (role === Role.Owner) {
    <p class="max-w-600">
      View and manage the list of all projects. Click "Add Project" to create a
      new entry. You can also update or delete existing projects as needed.
    </p>
    } @if (role === Role.Manager) {
    <p class="max-w-600">Add or remove developers from projects.</p>
    } @if (role === Role.Owner) {
    <button
      class="basic-button"
      color="primary"
      mat-flat-button
      (click)="navigateToCreateProject()"
    >
      Add project
    </button>

    <!-- PROJECTS TABLE -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="project_id">
          <th mat-header-cell *matHeaderCellDef>Project id</th>
          <td mat-cell *matCellDef="let element">{{ element.project_id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef>Budget</th>
          <td mat-cell *matCellDef="let element">{{ element.budget }}</td>
        </ng-container>

        <ng-container matColumnDef="finishDay">
          <th mat-header-cell *matHeaderCellDef>Finish day</th>
          <td mat-cell *matCellDef="let element">
            {{ element.finishDay }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td class="actions" mat-cell *matCellDef="let element">
            <i
              (click)="navigateToEditProject(element)"
              role="button"
              class="material-icons"
              >edit</i
            >
            <i
              (click)="openDeleteProjectDialog(element.project_id)"
              role="button"
              class="material-icons"
              >delete</i
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <!-- END OF PROJECTS TABLE -->

    <!-- SEARCH FOR PROJECT WORK -->
    <div class="wrapper">
      <h2>Search for project work</h2>
      <form [formGroup]="searchProjectForm" (ngSubmit)="searchForProject()">
        <mat-form-field appearance="outline">
          <mat-label>Project work id</mat-label>
          <input formControlName="projectWorkId" matInput placeholder="e.g 1" />
          @if (searchProjectForm.controls['projectWorkId'].hasError('required'))
          {
          <mat-error>Required</mat-error>} @if
          (searchProjectForm.controls['projectWorkId'].hasError('pattern')) {
          <mat-error>Should contain only numbers</mat-error>}
        </mat-form-field>
        <button
          class="form-button"
          color="primary"
          type="submit"
          mat-flat-button
        >
          Submit
        </button>
      </form>
      @if (projectFromSearchedProjectWork) {
      <h2>Name: {{ projectFromSearchedProjectWork.name }}</h2>
      <h3>Budget: {{ projectFromSearchedProjectWork.budget }}</h3>
      <h3>Finish day: {{ projectFromSearchedProjectWork.finishDay }}</h3>
      }
    </div>
    }
    <!-- END OF SEARCH FOR PROJECT WORK -->

    <!-- ADD DEVELOPER -->
    <div class="wrapper">
      <h2>Add developer to project</h2>
      <form [formGroup]="addDeveloperForm" (ngSubmit)="addDeveloperToProject()">
        <mat-form-field appearance="outline">
          <mat-label>Employee username</mat-label>
          <input
            formControlName="employeeUsername"
            matInput
            placeholder="e.g johndev"
          />
          @if
          (addDeveloperForm.controls['employeeUsername'].hasError('required')) {
          <mat-error>Required</mat-error>}
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Project work id</mat-label>
          <input formControlName="projectWorkId" matInput placeholder="e.g 1" />
          @if (addDeveloperForm.controls['projectWorkId'].hasError('required'))
          {
          <mat-error>Required</mat-error>} @if
          (addDeveloperForm.controls['projectWorkId'].hasError('pattern')) {
          <mat-error>Should contain only numbers</mat-error>}
        </mat-form-field>
        <button
          class="form-button"
          color="primary"
          type="submit"
          mat-flat-button
        >
          Add
        </button>
      </form>
    </div>
    <!-- END OF ADD DEVELOPER -->

    <!-- REMOVE DEVELOPER -->
    <div class="wrapper">
      <h2>Remove developer from project</h2>
      <form
        [formGroup]="removeDeveloperForm"
        (ngSubmit)="removeDeveloperFromProject()"
      >
        <mat-form-field appearance="outline">
          <mat-label>Employee username</mat-label>
          <input
            formControlName="employeeUsername"
            matInput
            placeholder="e.g johndev"
          />
          @if
          (removeDeveloperForm.controls['employeeUsername'].hasError('required'))
          {
          <mat-error>Required</mat-error>}
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Project work id</mat-label>
          <input formControlName="projectWorkId" matInput placeholder="e.g 1" />
          @if
          (removeDeveloperForm.controls['projectWorkId'].hasError('required')) {
          <mat-error>Required</mat-error>} @if
          (removeDeveloperForm.controls['projectWorkId'].hasError('pattern')) {
          <mat-error>Should contain only numbers</mat-error>}
        </mat-form-field>
        <button
          class="form-button"
          color="primary"
          type="submit"
          mat-flat-button
        >
          Remove
        </button>
      </form>
    </div>
    <!-- END OF REMOVE DEVELOPER -->
  </section>
  }
</main>
