@import "../../forms.scss";

:host {
  main {
    background-color: #f4f4f4;
    min-height: 100vh;
  }

  section {
    padding: 2rem 5vw;
    max-width: 600px;
    margin: 0 auto;
  }

  p {
    max-width: 600px;
    margin-bottom: 2rem;
  }

  form {
    width: 100%;
    display: grid;
  }

  mat-form-field {
    width: 100%;
  }

  .buttons-wrapper {
    grid-column: 1 / -1;

    button {
      min-width: 120px;
    }
  }
}

@media screen and (min-width: 768px) {
  form {
    grid-template-columns: 1fr 1fr;
  }
}
