:host {
  main {
    min-height: 100vh;
    background-color: rgb(244, 244, 244);
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .image-wrapper,
  section {
    flex: 1;
  }

  img {
    display: block;
    width: 100%;
  }

  section {
    padding: 2rem 5vw;
    min-width: 300px;
  }

  .image-wrapper {
    order: 2;
  }
}

@media screen and (min-width: 768px) {
  :host {
    .content {
      flex-direction: row;
    }

    section {
      order: 2;
    }
  }
}
