@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.max-w-600 {
  max-width: 600px;
}

body {
  background-color: #f4f4f4;
}

#chartsArea > div {
  margin-bottom: 64px;
}